# See http://help.github.com/ignore-files/ for more about ignoring files.

# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# Rider / VS Code / JetBrains
.idea/
*.code-workspace

# DotNet
*.dll
*.exe
*.pdb
*.cache
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Others
*.db
*.sqlite

